rules = [
  OrganizeImports
  EchopraxiaRewriteToStructured
]

triggered.rules = [
  DisableSyntax
  ExplicitResultTypes
]

scalafixScalaBinaryVersion=3.3
OrganizeImports.removeUnused=false
OrganizeImports {

  blankLines = Auto
  coalesceToWildcardImportThreshold = 3
  expandRelative = true
  groupExplicitlyImportedImplicitsSeparately = false
  groupedImports = AggressiveMerge
  groups = [
    "com.odenzo."
    "scala."
    "cats."
    "fs2."
    "io."
    "*" # project
  ]
  importSelectorsOrder = Ascii
  importsOrder = Ascii

  removeUnused = false
}
