<configuration debug="false">
<!--&lt;!&ndash;    <property name="blindsight.source.enabled" value="true" scope="context"/>&ndash;&gt;-->

<!--    &lt;!&ndash; set up the rule &ndash;&gt;-->
<!--    <newRule pattern="configuration/slf4jBridgeHandler"-->
<!--             actionClass="com.tersesystems.logback.classic.SLF4JBridgeHandlerAction"/>-->

<!--    &lt;!&ndash; calls removeHandlersForRootLogger / install &ndash;&gt;-->
<!--&lt;!&ndash;    <slf4jBridgeHandler/>&ndash;&gt;-->

<!--    &lt;!&ndash; reset all previous level configurations of all j.u.l. loggers &ndash;&gt;-->
<!--    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">-->
<!--        <resetJUL>true</resetJUL>-->
<!--    </contextListener>-->

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
<!--    <conversionRule conversionWord="nanoTime" converterClass="com.tersesystems.logback.classic.NanoTimeConverter" />-->
<!--    <conversionRule conversionWord="uniqueId" converterClass="com.tersesystems.logback.uniqueid.UniqueIdConverter" />-->
<!--    <conversionRule conversionWord="tse" converterClass="com.tersesystems.logback.classic.TimeSinceEpochConverter" />-->

<!--    <newRule pattern="*/exceptionMappings"   actionClass="com.tersesystems.logback.exceptionmapping.ExceptionMappingRegistryAction"/>-->

<!--    <newRule pattern="*/exceptionMappings/mapping"-->
<!--             actionClass="com.tersesystems.logback.exceptionmapping.ExceptionMappingAction"/>-->

<!--    <conversionRule conversionWord="richex" converterClass="com.tersesystems.logback.exceptionmapping.ExceptionMessageWithMappingsConverter" />-->


<!--    <exceptionMappings>-->

<!--&lt;!&ndash;        <mapping name="com.tersesystems.logback.exceptionmapping.MyCustomException" properties="one,two,three"/>&ndash;&gt;-->
<!--    </exceptionMappings>-->

    <!-- This is not unique and seems to be re-using the same id. -->/** This one is k


<!--    <appender name="JSON-SUB" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->

<!--            <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>-->
<!--            <providers>-->
<!--                <pattern>-->
<!--                    <pattern>-->
<!--                        {-->
<!--                        "uid": "%uniqueId",-->
<!--                        }-->
<!--                    </pattern>-->
<!--                </pattern>-->
<!--                <timestamp>-->
<!--                    <timeZone>UTC</timeZone>-->
<!--                </timestamp>-->
<!--                <logstashMarkers/>-->
<!--                <arguments/>-->
<!--                <message />-->
<!--                <loggerName/>-->
<!--                <threadName/>-->
<!--                <logLevel/>-->
<!--                <version />-->
<!--                <stackHash/>-->
<!--                <stackTrace/>-->
<!--            </providers>-->
<!--        </encoder>-->
<!--    </appender>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>SMOKEY: %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) [%thread] %cyan(%logger)\n %caller{3} %msg%n</pattern>-->
            <pattern>SIT: %d{mm:ss} %highlight(%-5level) %t %logger{15}  %msg%n%rEx</pattern>

        </encoder>
    </appender>
    <logger name="com.odenzo.xrpl.models.scodecs" level="WARN" />
    <logger name="com.odenzo.xrpl.communication" level="WARN" />
    <logger name="org.apache.kafka.common.utils.AppInfoParser" level="ERROR" />
    <logger name="org.apache.kafka.clients.consumer.KafkaConsumer" level="WARN" />
    <logger name="org.apache.kafka.clients.NetworkClient" level="WARN" />
    <logger name="org.apache.kafka.clients.ClientUtils" level="WARN" />
    <logger name="org.apache.kafka.clients.admin.internals" level="WARN" />
    <logger name="org.apache.kafka.clients.admin.AdminClientConfig" level="WARN" />
    <logger name="org.apache.kafka.clients.consumer.internals.ConsumerCoordinator" level="WARN" />
    <logger name="org.apache.kafka.clients.producer.internals.Sender" level="WARN" />
    <logger name="org.apache.kafka.common.metrics.Metrics" level="WARN" />
    <logger name="org.apache.kafka.clients.admin.KafkaAdminClient" level="WARN" />
    <logger name="org.apache.kafka.clients" level="WARN" />
    <logger name="org.apache.kafka.common.network.Selector" level="WARN" />
    <logger name="org.apache.kafka.common.utils" level="WARN" />
    <logger name="com.zaxxer.hikari" level="WARN" />
    <logger name="fs2.kafka.KafkaConsumer" level="INFO" />


    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
